*{
    margin:0;
    padding: 0;
}
h1{
    color: #f00;
    font-size: 80px;
}
nav{
    background-color: aqua;
    text-align: center;
}
nav a{
    color: cornsilk;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    background-color: darkgreen;
    transition: 1s;
}
nav a:hover{
    background-color: darkgrey;
}
p{
    color: darkorange;
    margin-bottom: 10px;
}